@charset 'UTF-8';#galleria-loader{height:1px!important;}
.galleria-container{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;position:relative;overflow:hidden;background:#000;}
.galleria-stage{position:absolute;top:10px;bottom:60px;left:10px;right:10px;overflow:hidden;}
.galleria-navbar{height:40px;position:absolute;bottom:10px;left:0;right:0;overflow:hidden;}
.galleria-navbarhelper{position:relative;margin:0px auto;text-align:center;}
.galleria-fullscreenbutton, .galleria-playbutton{bottom:0;width:40px;height:40px;cursor:pointer;}
.galleria-fullscreenbutton{float:right;background-image:url(http://promosirupiah.bitbucket.org/janivalibrary/fullscreen_on.png);z-index:99999999;}
.galleria-container.fullscreen .galleria-fullscreenbutton{background-image:url(http://promosirupiah.bitbucket.org/janivalibrary/fullscreen_off.png);}
.galleria-playbutton{float:left;background-image:url(http://promosirupiah.bitbucket.org/janivalibrary/playbutton.png);}
.galleria-playbutton.pause{background-image:url(http://promosirupiah.bitbucket.org/janivalibrary/pausebutton.png);}
.galleria-playbutton:hover{background-color:#111;}
.galleria-fullscreenbutton:hover{background-color:#111;}
.galleria-thumbnails-container{display:-moz-inline-stack;display:inline-block;z-index:2;position:relative;max-width:80%;}
.galleria-carousel .galleria-thumbnails-list{margin-left:20px;margin-right:20px;}
.galleria-thumbnails .galleria-image{height:40px;width:60px;background:#000;margin:0 5px 0 0;border:1px solid #000;float:left;cursor:pointer;}.galleria-counter{position:absolute;bottom:0;left:0;text-align:right;color:#fff;font:normal 11px/1 arial,sans-serif;z-index:1;}.galleria-loader{background:#000;width:20px;height:20px;position:absolute;top:10px;right:10px;z-index:2;display:none;background:url(http://promosirupiah.bitbucket.org/janivalibrary/classic-loader.gif) no-repeat 2px 2px;}.galleria-info{width:50%;top:15px;left:15px;z-index:2;position:absolute;}.galleria-info-text{background-color:#000;padding:12px;display:none;zoom:1;}.galleria-info-title{font:bold 12px/1.1 arial,sans-serif;margin:0;color:#fff;margin-bottom:7px;}.galleria-info-description{font:italic 12px/1.4 georgia,serif;margin:0;color:#bbb;}.galleria-info-close{width:9px;height:9px;position:absolute;top:5px;right:5px;background-position:-753px -11px;opacity:.5;filter:alpha(opacity=50);cursor:pointer;display:none;}.notouch .galleria-info-close:hover{opacity:1;filter:alpha(opacity=100);}.touch .galleria-info-close:active{opacity:1;filter:alpha(opacity=100);}.galleria-info-link{background-position:-669px -5px;opacity:.7;filter:alpha(opacity=70);position:absolute;width:20px;height:20px;cursor:pointer;background-color:#000;}.notouch .galleria-info-link:hover{opacity:1;filter:alpha(opacity=100);}.touch .galleria-info-link:active{opacity:1;filter:alpha(opacity=100);}.galleria-image-nav{position:absolute;top:50%;margin-top:-62px;width:100%;height:62px;left:0;}.galleria-image-nav-left,.galleria-image-nav-right{opacity:.3;filter:alpha(opacity=30);cursor:pointer;width:62px;height:124px;position:absolute;left:10px;z-index:2;background-position:0 46px;}.galleria-image-nav-right{left:auto;right:10px;background-position:-254px 46px;z-index:2;}.notouch .galleria-image-nav-left:hover,.notouch .galleria-image-nav-right:hover{opacity:1;filter:alpha(opacity=100);}.touch .galleria-image-nav-left:active,.touch .galleria-image-nav-right:active{opacity:1;filter:alpha(opacity=100);}.galleria-thumb-nav-left,.galleria-thumb-nav-right{cursor:pointer;display:none;position:absolute;bottom:5px;height:40px;width:23px;z-index:3;opacity:.8;filter:alpha(opacity=80);}
.galleria-thumb-nav-right{background-position:-578px 5px;right:0;bottom:0;}
.galleria-thumb-nav-left{background-position:-495px 5px;bottom:0;left:0;}
.galleria-thumbnails-container .disabled{opacity:.2;filter:alpha(opacity=20);cursor:default;}.notouch .galleria-thumb-nav-left:hover,.notouch .galleria-thumb-nav-right:hover{opacity:1;filter:alpha(opacity=100);}.touch .galleria-thumb-nav-left:active,.touch .galleria-thumb-nav-right:active{opacity:1;filter:alpha(opacity=100);}.notouch .galleria-thumbnails-container .disabled:hover{opacity:.2;filter:alpha(opacity=20);background-color:transparent;}
.galleria-carousel .galleria-thumb-nav-left,.galleria-carousel .galleria-thumb-nav-right{display:block;}.galleria-thumb-nav-left,.galleria-thumb-nav-right,.galleria-info-link,.galleria-info-close,.galleria-image-nav-left,.galleria-image-nav-right{background-image:url(http://promosirupiah.bitbucket.org/janivalibrary/classic-map.png);background-repeat:no-repeat;}