/* Galleria Azur Theme 2012-08-08 | http://galleria.io/license/ | (c) Aino */

#galleria-loader{height: 1px}

.galleria-container {
    position: relative;
    overflow: hidden;
    font: 12px/1.4 arial,sans-serif;
    color: #000;
    border: solid 1px #999;
    background:#5393b9 url(http://promosirupiah.bitbucket.org/janivalibrary/bg.png);
}
.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.galleria-stage {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    background:#999 url(http://promosirupiah.bitbucket.org/janivalibrary/bg.png);
}
.galleria-bar {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    overflow: hidden;
}
.galleria-fullscreen,
.galleria-play {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    border-right: 1px solid #fff;
    outline: 1px solid #fff;
    outline-width: 0 1px 0 0;
}
.galleria-play {
    background-image: url(http://promosirupiah.bitbucket.org/janivalibrary/playpause-white.png);
    background-position: 50% 11px;
}
.galleria-play.pause {
    background-position: 50% -89px;
}
.galleria-fullscreen {
    left: 42px;
    background-image: url(http://promosirupiah.bitbucket.org/janivalibrary/fscreen.png);
    background-position: 50% 11px;
}
.galleria-container.fullscreen .galleria-fullscreen {
    background-position: 50% -89px;
}
.galleria-play.playing { background-position: 10px -91px }
.galleria-fullscreen.open { background-position: 8px -93px }

.galleria-container.notouch .galleria-thumblink:hover,
.galleria-container.touch .galleria-thumblink:active,
.galleria-thumblink.open,
.galleria-container.notouch .galleria-fullscreen:hover,
.galleria-container.touch .galleria-fullscreen:active,
.galleria-container.notouch .galleria-play:hover,
.galleria-container.touch .galleria-play:active,
.galleria-container.notouch .galleria-popout:hover,
.galleria-container.touch .galleria-popout:active { background-color: #2735b0 }

.galleria-thumbnails-container {
    position: absolute;
    top: 4px;
    right: 5px;
    left: 86px;
    bottom: 0;
    z-index: 2;
    *top: 6px;
    *right: 6px;
}
.galleria-thumbnails-list {
    position: absolute!important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.galleria-thumbnails {
    text-align: right;
    float: right;
}
.galleria-carousel .galleria-thumbnails {
    float: none;
}
.galleria-thumbnails .galleria-image {
    width: 27px;
    height: 27px;
    display: inline-block;
    margin: 0 0 0 2px;
    cursor: pointer;
    border: 3px double #2735b0;
    *border: 1px solid #111;
    opacity: .6;
    filter: alpha(opacity=60);
    background: transparent;
}
.galleria-thumbnails .galleria-image {
    *display: inline;
}

.galleria-container.notouch .galleria-thumbnails .galleria-image:hover,
.galleria-container.touch .galleria-thumbnails .galleria-image:active {
    opacity: .9;
    background: #444;
    background: rgba(255, 255, 255, .3);
    filter: alpha(opacity=90);
}

.galleria-container .galleria-thumbnails .galleria-image.active,
.galleria-container.notouch .galleria-thumbnails .galleria-image.active:hover {
    opacity: 1;
    background: #ddd;
    background: rgba(255, 255, 255, .7);
    *border-color: #ccc;
    filter: alpha(opacity=100);
}

body .galleria-tooltip {
    background: #fff;
    background: rgba( 255, 255, 255, .8);
}

.galleria-captionopen {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: url(http://promosirupiah.bitbucket.org/janivalibrary/bgie.png);
    background: rgba(0,0,0,.7);
    padding: 3px 8px;
    font-size: 10px;
    text-transform:uppercase;
    letter-spacing: 0.5;
    z-index: 2;
    cursor:pointer;
    color: #ccc;
}

.galleria-captionopen:hover {
    background: #000;
    color: #fff;
}

.galleria-captionclose {
    background: none;
    font-size: 18px;
    position: absolute;
    top: 0; right: 10px;
    cursor: pointer;
}

.galleria-captionclose:hover{
    color:#ccc;
}

.galleria-progress.nocanvas {
    width: 32px;
    height: 5px;
    background: rgba(255,255,255,.2);
    background: url(http://promosirupiah.bitbucket.org/janivalibrary/20.png );
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
}

.galleria-progress.nocanvas .galleria-progressbar {
    height: 100%;
    width: 0;
    background: white;
}

.galleria-info {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: url(http://promosirupiah.bitbucket.org/janivalibrary/bgie.png);
    background: url(http://promosirupiah.bitbucket.org/janivalibrary/bg.png) rgba(0,0,0,.6);
    z-index:2;
}

.galleria-info.toggler {
    visibility: hidden;
}

.galleria-info.toggler.open {
    visibility: visible;
}

.galleria-info-title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 14px 10px;
    padding-right: 100px;
}
.galleria-info-description {
    opacity: .7;
    margin: -10px 14px 10px;
    padding-right: 100px;
}
.galleria-counter {
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
    z-index: 2;
    font-weight: bold;
}
.galleria-loader {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    z-index: 2;
    display: none;
}

.galleria-loader.nocanvas {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    z-index: 2;
    display: none;
    background: #000 url(http://promosirupiah.bitbucket.org/janivalibrary/loader.gif) no-repeat 50% 50%;
    opacity: .6;
    filter: alpha(opacity=60);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 100%;
    height: 36px;
    left: 0;
}

.galleria-image-nav-left,
.galleria-image-nav-right {
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 20px;
    z-index: 2;
    background: url(http://promosirupiah.bitbucket.org/janivalibrary/left.png) 50% 50% no-repeat;
    opacity: 0;
}
.galleria-image-nav-right {
    left: auto;
    right: 20px;
    background-image: url(http://promosirupiah.bitbucket.org/janivalibrary/right.png);
    z-index: 2;
}
.galleria-container.notouch .galleria-image-nav-left:hover,
.galleria-container.touch .galleria-image-nav-left:active { opacity: .7!important }
.galleria-container.notouch .galleria-image-nav-right:hover,
.galleria-container.touch .galleria-image-nav-right:active { opacity: .7!important }

.galleria-thumb-nav-left,
.galleria-thumb-nav-right {
    cursor: pointer;
    display: none;
    background: url(http://promosirupiah.bitbucket.org/janivalibrary/thumbleft-white.png) 50% 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    *top: 1px;
    *left: 1px;
    height: 27px;
    width: 23px;
    z-index: 3;
}
.galleria-thumb-nav-right {
    border-right: none;
    right: 3px;
    *right: 1px;
    left: auto;
    background: url(http://promosirupiah.bitbucket.org/janivalibrary/thumbright-white.png) 50% 50%;
}
.galleria-thumbnails-container .disabled {
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: default;
}
.notouch .galleria-thumb-nav-left:hover,
.notouch .galleria-thumb-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #222;
    background-color: rgba(255, 255, 255, .07);
}
.touch .galleria-thumb-nav-left:active,
.touch .galleria-thumb-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);
    background-color: transparent;
}

.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right {
    display: block;
}
.galleria-carousel .galleria-thumbnails-list {
    right: 28px;
    left: 28px;
}

